/* #login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
} */

.cta {
  font-family: "Gothic A1 Black", "Arial Narrow", Arial, sans-serif;
  color: black;
  line-height: 15px;
  font-size: 20px;
}

.logo {
  margin-bottom: 20px;
}
